@import '../../index.css';

.covid-container {
  width: 100%;
}

.inputs {
  width: 100%;
}

.covid-container input[type='date'] {
  width: 28rem;
  height: 54px;
  margin-bottom: 0.5rem;
  border: 1px solid var(--primary-stroke);
  padding-left: 2.5rem;
  font-size: 16px;
  line-height: 17px;
}

.custom-title {
  font-size: 62px;
}
