@import '../index.css';

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 1920px;
  height: 1080px;
  background-image: var(--primary-bg);
  background-size: cover;
}

.btn-primary {
  width: 395px;
  height: 79px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background-color: var(--redberry-red);
  color: var(--color-white);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.link {
  width: 338px;
  height: 66px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  text-align: center;
  text-decoration-line: underline;
  cursor: pointer;
}
