@import '../index.css';

.container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 1920px;
  height: 1080px;
  /* height: auto; */
  /* background-color: black; */
  background-image: var(--primary-bg);
  background-size: cover;
  /* border: 5px solid red; */
}

.container h1 {
  width: 1128px;
  height: 100px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0.11em;
  color: var(--color-white);
  margin-top: 6rem;
  padding-bottom: 2rem;
}

.application-container {
  display: flex;
  flex-direction: column;
  width: 1154px;
  background: var(--color-white);
  border: 1px solid var(--redberry-red);
}

.application-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 52px;
  background-color: var(--redberry-red);
  color: var(--color-white);
}

.application-content {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 5rem 0 5rem;
  /* height: 1542px; */
  border: 1px solid var(--redberry-red);

  /* background-color: var(--color-white); */
}

.application-content h2 {
  width: 288px;
  height: 37px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: var(--redberry-red);
}

.sub-input {
  width: 50%;
  margin-bottom: 5rem;
  /* border: 1px solid red; */
  list-style-type: none;
}

.application-content h3 {
  /* border: 1px solid red; */
  width: 450px;
  height: 2.5rem;
  margin-top: 1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* border: 1px solid red; */
  margin-bottom: 1rem;
}

.input-label-container input,
.input-label-container label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 17rem;

  height: 42px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.covid-sub-input {
  margin-bottom: 3.5rem;
}
.covid-sub-input-left {
  margin-bottom: 5.1rem;
}

.date-image-contrainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 349px;
  height: 54px;
  border: 1px solid var(--primary-stroke);
}

.covid-sub-input-left textarea[id='1'] {
  width: 447px;
  height: 122px;
  border: 1px solid var(--primary-stroke);
  padding: 2rem 0 0 1rem;
}

.covid-sub-input-left textarea[id='2'] {
  width: 447px;
  height: 89px;
  border: 1px solid var(--primary-stroke);
  padding: 2rem 0 0 1rem;
}

.img {
  padding: 0.5rem;
}
