@import '../index.css';

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 1920px;
  height: 1080px;
  background-image: var(--primary-bg);
  background-size: cover;
  /* width: 100vw;
  height: 100vh; */
}

/* .submit::after {
  content: '';
  position: fixed;
  width: 1920px;
  height: 1080px;

  left: 0px;
  top: 0px;
  background-image: url('../assets/stars.png');
} */

.btn-primary {
  /* position: absolute; */
  width: 395px;
  height: 79px;
  /* left: 754px; */
  /* top: 492px; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  /* font-size: 24px;
  line-height: 29px; */
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background-color: var(--redberry-red);
  color: var(--color-white);
  border-radius: 50px;
  border: none;
  /* z-index: 2; */
  cursor: pointer;
}

.link {
  /* position: absolute; */
  width: 338px;
  height: 66px;
  /* border: 1px solid red; */
  /* left: 795px; */
  /* top: 589px; */
  /* top: 610px; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  text-align: center;
  text-decoration-line: underline;
  /* z-index: 2; */
  cursor: pointer;
}
