@import '../index.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 1080px;
  background-image: var(--primary-bg);
  background-size: cover;
}

.container h1 {
  width: 1066px;
  height: 191px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  color: var(--redberry-red);
}

.smile {
  font-size: 65px;
}
