@import '../../index.css';

.input-side {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.inputs-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 455px;
  top: 390px;
}

.inputs {
  width: 100%;
  justify-self: center;
}

.inputs-container input {
  width: 100%;
  height: 54px;
  margin-bottom: 2.5rem;
  border: 1px solid var(--primary-stroke);
}

.inputs-container input::placeholder {
  padding-left: 2.5rem;
}
