@import '../../../index.css';

.title {
  position: absolute;
  width: 716px;
  height: 128px;
  top: 131px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: var(--redberry-red);
}
