:root {
  --redberry-red: #fe3b1f;
  --primary-bg: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  --primary-stroke: #525557;
  --primary-red: #eb3535;
  --color-grey: #454545;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 1080px;
}
