@import '../../index.css';

.description-side {
  display: flex;
  justify-content: center;

  width: 50%;
  /* height: 1080px; */

  background-image: var(--primary-bg);
  background-repeat: repeat-y;
}
